header{
    background-color: blue;
    height: 80px;
    width: auto;
    border-radius: 20px;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.smLogo{
    display: flex;
    justify-content: center;
}
.smLogo a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.smLogo a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.smLogo a:hover{
    background-color: #111;
    transition: 0.5s;
}
.smLogo a:hover i{
    background-color: white;
    transition: 0.5s;
}
.footerLinks{
    margin: 30px 0;
}
.footerLinks ul{
    display: flex;
    justify-content: center;
}
.footerLinks ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerLinks ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.content{
    background-color: yellow;
    height: 800px;
    width: 50px;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/bg.png);
    background-size: cover;
    background-position: center;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 28px;
}
span{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
nav ul li a:hover{
    color: #ea1538;
    transition: 0.3s;
}