@media(max-width: 991px){
    .sidebar{
        background-color: #000000;
    }
}
.dropdown-menu{
    background-color: #828988;
}
.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
}
.shortage_container{
    background-color: #DC1C8B;
    opacity: 0.8;
    height: 300px;
}